body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.song-list {
  max-height: 52%;
  margin-bottom: 0px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.list-group-item {
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  border: 0px solid transparent !important;
}
